footer.footer
    div.footer__body
        aside.footer__copy 2019&nbsp;&copy;&nbsp;
            a.footer__aside(href="https://olegn.ru") Олег&nbsp;Новиков
        div.footer__made Сделано&nbsp;с&nbsp;❤&nbsp;в&nbsp;Белгороде
