main.main
    div.main__body
        section.main__content
            //- section.mainContent
            div.documentsControls
                div.documentsControls__search
                    include ../components/search
                div.documentsControls__order
                    include ../components/order

            div.documents
                div.documents__item
                    +document('284/1', '5 августа 2015', 'О контроле по подготовке и ремонту учебных кабинетов', {
                        'Мероприятие': 'Провести проверку готовности учебных кабинетов',
                        'Место проведения': '',
                        'Дата проведения': 'до 10 августа 2015 года',
                    })
                div.documents__item
                    +document('284', '4 августа 2015', 'О создании комиссии', {
                        'Мероприятие': 'Для определения неисправности спидометра',
                        'Место проведения': '',
                        'Дата проведения': '',
                    })
                div.documents__item
                    +document('283', '4 августа 2015', 'О праздничном мероприятии', {
                        'Мероприятие': 'Праздничное мероприятие, посвященное Дню города',
                        'Место проведения': 'Соборная площадь',
                        'Дата проведения': '5 августа 2017 года',
                    })
                div.documents__item
                    +document('282', '4 августа 2015', 'О праздничном мероприятии', {
                        'Мероприятие': 'Праздничное мероприятие «Музей под открытым небом»',
                        'Место проведения': 'Парк Победы',
                        'Дата проведения': '5 августа 2017 года',
                    })
        section.main__side
            //- section.mainSide
            include ../components/calendar
