// app sections

.appSection
  position: relative
  display: block
  padding: 0
  margin: 0

  &__body
    position: relative
    display: block
    padding: 0 px2rem($layoutGapSize / 2)
    margin: 0 auto

    &_flow_static
      position: static
