// button component

$buttonFuncAdd = #219653

.button
  @extends $button
  box-sizing: border-box
  position: relative
  height: 3rem
  padding: .25rem 0
  font-weight: 500
  font-size: px2rem(14)
  line-height: 1.25rem
  color: rgba(0, 0, 0, .88)
  letter-spacing: px2rem(.48)
  text-transform: uppercase
  cursor: pointer

  &_size_large
    padding: 0
    font-size: px2rem(17)
    line-height: 1.5rem

  // ^[0]_func_add &

  &__decor
    box-sizing: border-box
    position: relative
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-content: center
    align-items: center
    height: 2.5rem
    padding: .625rem px2rem(14)
    border-radius: .25rem
    background-color: rgba(0, 0, 0, .12)
    transition: all .24s ease

    ^[0]_size_large &
      height: 3rem
      padding: .75rem 1.5rem

    ^[0]_type_text &
    ^[0]_type_outlined &
      background-color: rgba(0, 0, 0, 0)

    ^[0]_type_outlined &
      padding: .5rem px2rem(12)

    ^[0]_type_outlined^[0]_size_large &
      padding: .625rem px2rem(22)

    ^[0]_type_outlined &
      border: .125rem solid rgba(0, 0, 0, .64)

    ^[0]_func_add &
      color: rgba($buttonFuncAdd, 1)

    ^[0]_func_add:not(^[0]_type_outlined) &
      background-color: rgba($buttonFuncAdd, .08)

      &:hover
        background-color: rgba($buttonFuncAdd, .12)

  &__label
    @extends $textNowrap
    position: relative
    display: block
    margin-right: px2rem(-.48)

  &__icon
    position: relative
    left: -.25rem
    display: block
    width: 1.25rem
    height: @width
    margin-right: .125rem
    // opacity: .8

    ^[0]_size_large &
      left: -.75rem
      width: 1.5rem
      height: @width
      margin-right: -.25rem

    ^[0]_func_add & svg path
      stroke: rgba($buttonFuncAdd, .8)
