// document modal header component

.documentModalHeader
  position: relative
  display: block
  padding: 0
  margin: 0

  &__body
    position: relative
    display: block
    padding: 1rem px2rem($docModalGapSize / 2)
    margin: 0

  &__type
  &__id
  &__title
    position: relative
    display: block
    padding: 0
    margin: 0

  &__type
    font-size: px2rem(14)
    line-height: 1.5rem
    color: $themeColorDark
    letter-spacing: px2rem(.24)
    opacity: 0
    transition: opacity .16s ease .16s
    will-change: opacity

    .documentModal_show &
      opacity: 1

  &__id
    margin-top: 1rem
    font-size: px2rem(17)
    line-height: 1.5rem
    color: rgba(0, 0, 0, .64)
    letter-spacing: px2rem(.24)

  &__title
    margin: .25rem 0
    font-weight: 500
    font-size: px2rem(23)
    line-height: 2rem
    color: rgba(0, 0, 0, .88)
    letter-spacing: px2rem(.48)
    overflow: hidden

  &__textChunk
    position: relative
    display: inline-block
    vertical-align: top
    overflow: hidden

    & > span
      position: relative
      display: inline-block
      vertical-align: top
      transform: translateY(100%)
      transition: transform .16s ease .16s
      will-change: transform

      .documentModal_show &
        transform: translateY(0%)
