mixin icon($iconName, $size = 20)
    case $iconName
        when 'arrowDown'
            case $size
                when 20: include ../svg/arrowDown_20.svg
        when 'arrowUp'
            case $size
                when 20: include ../svg/arrowUp_20.svg
        when 'chevronDown'
            case $size
                when 20: include ../svg/chevronDown_20.svg
        when 'chevronLeft'
            case $size
                when 20: include ../svg/chevronLeft_20.svg
        when 'chevronRight'
            case $size
                when 20: include ../svg/chevronRight_20.svg
        when 'edit'
            case $size
                when 24: include ../svg/edit_24.svg
        when 'plus'
            case $size
                when 20: include ../svg/plus_20.svg
        when 'search'
            case $size
                when 20: include ../svg/search_20.svg
        when 'share2'
            case $size
                when 24: include ../svg/share2_24.svg
        when 'xCircle'
            case $size
                when 20: include ../svg/xCircle_20.svg
