// app

.app
  zoom: 1
  position: relative
  z-index: 1
  display: block
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  border: none
  outline: none
  background-color: #fff
  font-size: 100%
  text-size-adjust: 100%
  overflow: hidden

  &__body
    zoom: 1
    position: relative
    top: 0
    left: 0
    z-index: 1
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-content: stretch
    align-items: stretch
    width: 100vw
    height: 100%
    padding: 0
    border: none
    outline: none
    margin: 0
    background: #fff
    font: getFont()
    letter-spacing: normal
    word-wrap: normal
    white-space: normal
    text-transform: none
    direction: ltr
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga' 1, 'dlig' 1, 'kern' 1, 'tnum' 1, 'zero' 1
    overflow-x: hidden
    overflow-y: scroll
    opacity: 1
    caret-color: #9b51e0
    -webkit-tap-highlight-color: transparent
    -webkit-overflow-scrolling: touch

    selection($themeColor, #ff0)

    ^[0]_state_inactive &
      overflow: hidden
