@require '_variables'
@require '_mixins'
@require '_functions'
@require '_extends'

// global
@require 'global'

// base
@require 'app';

// comopnents
// @require 'components/grid'
@require 'components/shadows'
@require 'components/button'
@require 'components/select'
// @require 'components/appSection'
@require 'components/document'
@require 'components/documentField'
@require 'components/documentModal'
@require 'components/documentModalHeader'
@require 'components/documentModalSection'
@require 'components/documentModalField'
@require 'components/search'
@require 'components/order'
@require 'components/calendar'

// sections
@require 'sections/bar';
@require 'sections/header';
@require 'sections/main';
@require 'sections/footer';

// blocks
// @require 'blocks/mainContent';
@require 'blocks/documentsControls';
@require 'blocks/documents';
@require 'blocks/filter';
