@-ms-viewport
  width: device-width

@font-face
  font-family: 'PT Root UI';
  src: url('/fonts/PTRootUILight/PTRootUILight.eot');
  src:
        url('/fonts/PTRootUILight/PTRootUILight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUILight/PTRootUILight.woff2') format('woff2'),
        url('/fonts/PTRootUILight/PTRootUILight.woff') format('woff'),
        url('/fonts/PTRootUILight/PTRootUILight.ttf') format('truetype'),
        url('/fonts/PTRootUILight/PTRootUILight.svg#PTRootUIWeb-Light') format('svg');
  font-weight: 300;
  font-style: normal;

@font-face
  font-family: 'PT Root UI';
  src: url('/fonts/PTRootUIRegular/PTRootUIRegular.eot');
  src:
        url('/fonts/PTRootUIRegular/PTRootUIRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.woff2') format('woff2'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.woff') format('woff'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.ttf') format('truetype'),
        url('/fonts/PTRootUIRegular/PTRootUIRegular.svg#PTRootUIWeb-Regular') format('svg');
  font-weight: 400;
  font-style: normal;

@font-face
  font-family: 'PT Root UI';
  src: url('/fonts/PTRootUIMedium/PTRootUIMedium.eot');
  src:
        url('/fonts/PTRootUIMedium/PTRootUIMedium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUIMedium/PTRootUIMedium.woff2') format('woff2'),
        url('/fonts/PTRootUIMedium/PTRootUIMedium.woff') format('woff'),
        url('/fonts/PTRootUIMedium/PTRootUIMedium.ttf') format('truetype'),
        url('/fonts/PTRootUIMedium/PTRootUIMedium.svg#PTRootUIWeb-Medium') format('svg');
  font-weight: 500;
  font-style: normal;

@font-face
  font-family: 'PT Root UI';
  src: url('/fonts/PTRootUIBold/PTRootUIBold.eot');
  src:
        url('/fonts/PTRootUIBold/PTRootUIBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUIBold/PTRootUIBold.woff2') format('woff2'),
        url('/fonts/PTRootUIBold/PTRootUIBold.woff') format('woff'),
        url('/fonts/PTRootUIBold/PTRootUIBold.ttf') format('truetype'),
        url('/fonts/PTRootUIBold/PTRootUIBold.svg#PTRootUIWeb-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
